@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.inner-shadow : hover {
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.image-container {
  margin-bottom: 1px; /* Further reduced space between the image and posts */
}

.sdg-image {
  width: 200px; /* Reduced size of the image */
  max-width: none; /* Remove the default max-width constraint */
  height: auto;
  border-radius: 8px; /* Adjusted for smaller size */
  object-fit: cover; /* Ensures the image fits well within the container */
}

.flip-card {
  perspective: 1000px; /* Enables the 3D effect */
  position: relative;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden; /* Hides the back content when not flipped */
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
  border-radius: 9999px; /* To ensure the circle shape is maintained */
}

.flip-card-front {
  transform: rotateY(0deg);
}

.flip-card-back {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.group:hover .flip-card-front {
  transform: rotateY(-180deg);
}

.group:hover .flip-card-back {
  transform: rotateY(0deg);
}




